.unity, .border, .under {
    color: #ff0000;
    padding-left: 14px;
    border: 1px solid wheat;
    width: 22px;
    height: 36px;
    font-size: large;
}

.under {
    border-bottom: 2px double red;
    
}

.border {
    border-right: 2px double red;
}

#rep {
    font-size: smaller;
}